@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
html {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
.navcontainer{
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}
header {
  background-color: black;
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgba(119, 119, 119, 0.395),
    rgb(0, 0, 0)
  );
  border: none;
}
.header h2,.footerLetter {
  color: #e6533c;
  font-size: 3.6rem;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 2rem;
  margin-right: 2rem;

  padding: 5rem 0;
}
.header ul {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.324);
  border-radius: 3rem;
  padding: 1.8rem .6rem;
}
.header li {
  list-style: none;
}
.header ul a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.2rem 2rem;
  color: white;
}
.header .icon {
  width: 2rem;
  display: none;
}
.header .icon a{
  width: 2rem;
}
.header .icon img {
  width: 100%;
}
.header .home a {
  background-color: #e6533c;
  border-radius: 4.6rem;
  border: none;
}
.miama-font {
  font-family: "Miama", sans-serif;
  font-size: 16rem;
  font-weight: 400;
}

.bannerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 19rem;
  margin-right: 19rem;
  border: none;
}
.bannerContainer .bannerArticle {
  max-width: 52rem;
}
.bannerContainer .bannerImage {
  background-image: url("./images/Images 2.png");

  background-size: cover;
  background-position: center;
  width: 34.9rem;
  height: 58rem;
}
.bannerContainer .bannerArticle h2 {
  font-size: 7.8rem;
  font-weight: 900;
  color: white;
  margin-bottom: 2.8rem;
}
.bannerContainer .bannerArticle p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}

 .btn {
  background-color: #e6533c;
  border-radius: 4.2rem;
  margin-right: 1.4rem;
  padding: 1.6rem 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline;
  color: white;
  border: none;
  cursor: pointer;
}
.bannerContainer .button2 {
  background-color: rgba(240, 248, 255, 0);
  border-radius: 4.2rem;
  border: 1px solid white;
  padding: 1.6rem 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline;
  color: white;
}
.bannerContainer .popup1 {
  width: 20.6rem;
  height: 9.6rem;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 42.1rem;
  left: -11.3rem;
}
.popup1 h3 {
  font-size: 2.4rem;
  font-weight: 900;
}
.popup1 p {
  font-size: 1.6rem;
  font-weight: 400;
}
.popup1 .sec1 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #e6533c;
}
.popup2 {
  width: 20.6rem;
  max-height: 9.6rem;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(0, 0, 0, 0.105);
  padding: 1rem;
  position: relative;
  top: 4rem;
  right: -23rem;
}
.popup2 h3 {
  font-size: 4rem;
  font-weight: 900;
}
.popup2 p {
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (min-width: 844px) and (max-width: 1378px) {
  .bannerContainer {
    flex-direction: column;
  }
}
@media screen  and (max-width: 431px) {
  .bannerContainer .bannerArticle h2 {
    font-size: 3.6rem;
    
  }
  .bannerContainer span {
    font-size: 7rem;
  }
  .header ul {
    display: none;
  }
  .header .nav {
    display: flex;
    justify-content: space-between;
  }
  .header .nav img{
    width: 100%;
  }
  .header .nav a{
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
.nav .h2{
  flex-grow: 3;
}
  .header .icon {
    display: inline;
    max-width: 2rem;
    flex-grow: 1;
  }
  .bannerContainer {
    margin-left: 1.9rem;
    margin-right: 1.9rem;
    justify-content: center;
  }
  .bannerContainer .bannerArticle {
    margin-bottom: 4.5rem;
  }
  .bannerContainer .button {
    height: 5.4rem;
    width: 16.9rem;
    padding: 1rem;
  }

  .buttonContainer {
    display: flex;
  }
  .bannerContainer .popup1 {
    top: 22rem;
    left: 1rem;
    max-width: 14.5rem;
    max-height: 7.4rem;
    padding: 0.5rem;
  }
  .bannerContainer .popup2 {
    top: -5rem;
    right: -18rem;
    max-width: 14.5rem;
    max-height: 7.4rem;
  }
  .bannerContainer .popup2 h3 {
    font-size: 3rem;
    font-weight: 900;
  }
  .bannerContainer .popup2 p {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .bannerContainer .popup1 h3 {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .bannerContainer .popup1 p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .bannerContainer .sec1 {
    width: 3rem;
    height: 3rem;
  }
}
/* section1 start */
.section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: none;
  color: white;
  background-color: black;
  margin-top: 10rem;
}
.section1 .h2{
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 1.4rem;
  max-width: 48rem;
  
}
.section1 > .paragraph{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  max-width: 67rem;
  text-align: center;
  margin-bottom: 5.8rem;
}
.section1 .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4rem;
}
.section1 .item{
  width: 23rem;
  text-align: center;
}

.section1 .photo img{
  width: 18rem;
  border-radius: 50%;
  width: 100%;
  margin-bottom: 3rem;
}
.section1 .h4{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: .6rem;
}
.section1 .item .paragraph{
  font-size: 1.4rem;
  font-family: 400;
}
.section1 .container2{
  display: flex;
  
  justify-content: space-between;
  gap: 16.5rem;
  height: 37rem;
  background-color: rgb(34, 34, 34);
  border-radius: 1.8rem;
  padding: 3rem;
  margin-top: 10rem;
  
}
.section1 .container2 .article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 44.3rem;
}
.section1 .container2 .h2{
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 1.4rem;
}
.section1 .container2 .paragraph{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 3.4rem;
}
.section1 .container2 .photo{
width: 36.6rem;
height: 31.2rem;
background-image: url('./images/run.jpg');
background-size: cover;
background-repeat: no-repeat;
border-radius: 1.8rem;
}
/* mobile design for section1 */
@media screen  and (max-width: 431px){
  .section1{
    margin-top: 2rem;
  }
  .section1 .h2{
    font-size: 3.2rem;
    
  }
  .section1 .container{
    grid-template-columns: 1fr;
    grid-row-gap:4rem;
  }
  .section1 .container2{
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    max-width: 38rem;
    padding: 2rem;
  }
  .section1 .container2 .article{
    align-items: center;
    width: 100%;
  }
  .section1 .container2 .h2{
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
  }
  .section1 .container2 .paragraph{
    margin-bottom: 2.4rem;
  }
  .section1 .container2 .button{
    width: 100%;
    margin-right: auto;
  }
  .section1 .container2 .photo{
    width: 100%;
    height: 17rem;
  }
  
}

/* section2 started */
.section2{
  color: white;
}
.section2 .headingContainer .h2{
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 1.4rem;
}
.section2 .headingContainer .paragraph{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 8.8rem;
  line-height: 2.4rem;
}
.section2 > .headingContainer{
  display: flex;
  flex-direction: column;
  margin: 10rem auto 2rem;
 
  max-width: 67rem;
}
.section2 .container{
  display: flex;
  justify-content:space-around;
  background-color: rgb(34, 34, 34);
  padding: 4.9rem;

}
.section2 .container1 .h3{
  font-size: 2.8rem;
  margin-bottom: 5.2rem;
}
.section2 .table{
  width: 31rem;
  height: 21.6rem;
  
}
.section2 table, td, th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
.section2 td, th{
  text-align: start;
  padding: 1rem;
}
.section2 th{
  font-size: 1.6rem;
  font-weight: 500;
}
.section2 td{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.section2 .container2{
  max-width: 57.7rem;
}
.section2 .container2 .h2{
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 1.4rem;
}
.section2 .container2 .paragraph{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 3.3rem;
}
.section2 .form .dataContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1.2rem;

}
.section2 .form #activity{
  grid-column-start: 1;
  grid-column-end: 3;
  color: rgba(255, 255, 255, 0.224);
  margin-bottom: 3.4rem;
}
.section2 .form .dataContainer .input, .ipt{
  font-size: 1.6rem;
  font-weight: 400;
padding: 1.2rem 2rem;
background-color: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.1);
border-radius: .8rem;
border: none;
}
.section2 .form #gender {
  color: rgba(255, 255, 255, 0.283);

}

/* mobile view for section2 */


@media screen  and (max-width: 431px) {
  .section2 .headingContainer .h2{
  font-size: 3.2rem;
  margin-left: 2rem;
    margin-right: 2rem;
  }
  .section2 .headingContainer .paragraph{
    margin-bottom: 3.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .section2 .container{
  display: flex;
  flex-direction: column;
  align-items:space-between;
  
  padding: 3.4rem 2rem;
  row-gap: 4.2rem;
}
  .section2 .container1 .h3{
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.section2 .container2{
  max-width: 36rem;
}
.section2 .container2 .h2{
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.section2 .form .dataContainer{
  max-width: 36rem;
  
}

.section2 .form .dataContainer .ipt{
  max-width: 15rem;
}
.section2 .form #activity{
  max-width: 33.5rem;
}
}

/* section3 started */

.section3{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .headerContainer{
  max-width: 67rem;
  text-align: center;
}
.section3 .headerContainer .h2{
  font-size: 4.8rem;
  font-weight: 900;
  margin-top: 8.8rem;
  margin-bottom: 1.4rem;
}
.section3 .headerContainer .paragraph{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 5.8rem;
}
.section3 .photoContainer{
  background-color: rgba(255, 255, 255, 0.1);
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
padding: 2rem;
border-radius: .8rem;

}
.section3 .photoContainer .photo{
background-size: cover;
width: 32.7rem;
height: 27.2rem;
border-radius: .8rem;
border: none;
background-position: center;
position: relative;
}
.section3 .photoContainer .article{
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
}
.section3 .p1{
  background-image: url('./images/trainer1.png');

}
.section3 .p2{
  background-image: url('./images/trainer2.png');
}
.section3 .p3{
  background-image: url('./images/trainer3.png');
}
.section3 .p4{
  background-image: url('./images/trainer4.png');
}
.section3 .p5{
  background-image: url('./images/trainer5.png');
}
.section3 .p6{
  background-image: url('./images/trainer6.png');
}
.section3 .article .h3{
  font-size: 1.4rem;
  font-weight: 400;
  
}
.section3 .article .para{
  font-size: 1.2rem;
  font-weight: 300;
}

/* mobile view for section3 */

@media screen  and (max-width: 431px){
  .section3 .headerContainer{
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.section3 .headerContainer .h2{
  font-size: 3.2rem;
  font-weight: 900;
  margin-top: 6.6rem;
  margin-bottom: 1.4rem;
}
.section3 .headerContainer .paragraph{
  margin-bottom: 3.7rem;
}
.section3 .photoContainer{

grid-template-columns: 1fr;
gap: 2rem;
padding: 2rem;
border-radius: .8rem;
margin-bottom: 6.6rem;
}

}
/* footer started */
.footer{
  color: white;
  padding: 6.6rem 19rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footerLetter{
  margin-bottom: 2rem;
}
.footer .part1 .para{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer .container{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 10rem;
  margin-bottom: 8rem;
}
.footer .part1{
  max-width: 44.5rem;
}
.footer .part2, .part3{
  max-width: 18.2rem;
}
.footer .part3 .h3{
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.footer .part3 .para{
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer .part2 .h3{
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.footer .part2 .para{
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.bottomLine{
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 3.6rem;
}
.footer .bottomPara{
  text-align: center;
 font-size: 2rem;
font-weight: 400;
line-height: 2.4rem;
letter-spacing: 0.3px;
}
/* mobile view for footer */

@media screen  and (max-width: 431px){
  .footer{
  color: white;
  padding: 4.4rem 2rem;
}
.footer .part1 .para{
  margin-bottom: 3rem;
}
.footer .container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 7rem;
}
}

/* section 4 started */
.section4{
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.section4 > .h2{
  font-size: 4.8rem;
  font-weight: 900;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
}
.section4 .image{
  width: 10rem;
  height: 10rem;
  background-color: white;  
}

.section4  .image img{
 width: 100%;
 
}
.section4 .part1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 19rem;
  margin-right: 19rem;
  gap: 2rem;
}

.section4 .h3{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
}
.section4 .para{
  color: rgba(255, 255, 255, 0.537);
  font-size: 1.4rem;
  font-weight: 400;
}
.section4 .button{
  display: block;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}
/* mobile view for section4 */

@media screen and (max-width: 431px){
.section4 > .h2{
  font-size: 3.2rem;
  font-weight: 900;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
}
.section4 .part1{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 2rem;
}
.section4 .button{
  display: block;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}
} 